/* Ilość nieodczytanych powiadomień */
.notification-badge {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: light-dark(#1f2f40, #dde2e5);
    color: light-dark(#dde2e5, #1f2f40);
    border-radius: 50%;
    padding: 2px 8px;
    font-size: 12px;
    display: none;
    min-width: 18px;
    text-align: center;
}

/* Chmurka powiadomień */
.notification-bubble {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: light-dark(#f5f5f5, #1f2f40);
    border: 1px solid  light-dark(#cfd4d7, #162533);
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 350px;
    z-index: 1050;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

/* Styl listy w chmurce */
.notification-bubble ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.notification-bubble h5 {
    padding-top: 10px;
    text-align: center;
}

.notif-text {
    padding-right: 12px;
    padding-left: 12px;
}

.notification-bubble li:last-child {
    border-bottom: none;
}